@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding" rel="stylesheet');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Gothic Coding', monospace;
}

.error {
    color: red;
}

section {
    width: 80%;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 1.5em;

    button {
        cursor: pointer;
        background: #fff;
        border: 1px solid #333;
        border-radius: 0;
        width: 75px;
        height: 30px;
        font-family: 'Nanum Gothic Coding', monospace;
        font-size: 16px;
    }

    select,
    input[type=password],
    input[type=text] {
        background: #fff;
        width: 250px;
        height: 22px;
    }

    select {
        border-radius: 0;
        border-color: rgb(238, 238, 238);
    }
}

.todo {
    .delete-todo {
        cursor: pointer;
        color: red;
        font-size: .85em;
    }
}
